<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.ev_charge_server.mapper.ChatMessageMapper">

    <resultMap id="BaseResultMap" type="org.example.ev_charge_server.entity.ChatMessage">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="sender" column="sender" />
            <result property="adminId" column="admin_id" />
            <result property="content" column="content" />
            <result property="msgType" column="msg_type" />
            <result property="createdAt" column="created_at" />
            <result property="expireAt" column="expire_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,sender,admin_id,content,msg_type,
        created_at,expire_at
    </sql>
</mapper>
